<?xml version="1.0"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.phonegap.plugins.kwvideo" version="0.1.0">
  <name>KWVideo Player</name>
  <description>Android video player plugin</description>
  <license>MIT</license>
  <js-module src="www/video.js" name="KWVideoPlayer">
    <clobbers target="window.plugins.videoPlayer"/>
  </js-module>
  <engines>
    <engine name="cordova" version="3.0.1"/>
  </engines>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="KWVideoPlayer">
        <param name="android-package" value="com.phonegap.plugins.video.KWVideoPlayer"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <source-file src="src/android/KWVideoPlayer.java" target-dir="src/com/phonegap/plugins/video"/>
  </platform>
</plugin>
